*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF2DE;
}


/* navbar start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FDEABD;
    font-size: 25px;
}

.logo img{
    width: 100px;
    height: 100px;
}

.logo a{
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
    margin-left: 40px;
}

.menu li a{
    text-decoration: none;
    color: black;
}
/* navbar end */


/* main start */
.container{
    margin: 15px;
}

.container .mhead{
    display: grid;
    place-items: end center;
    margin: 0;
}

.mhead .mgtxt{
    margin: 20px;
}

.container .cmtxt .txtimg{
    display: flex;
    padding: 20px;
}

.container .cmtxt .txt{
    display: flex;
    padding: 20px;
    align-items: center;
}



/* main end */


/* footter start */
footer{
    background-color: #FDEABD;
    height: 100%;
    display: block;
}

.ftxtimg{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 20px;
}
.ftxtimg .fimg img{
    width: 100px;
    height: 100px;
}
.ftxtimg .ftxt{
    padding: 20px;
}
/* footter end */
