*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF2DE;
}


/* navbar start */
nav{
    display: block;
    /* justify-content: space-between; */
    /* padding: 20px; */
    background-color: #FDEABD;
    font-size: 1rem;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 50px;
    height: 50px;
}

.logo a{
    text-decoration: none;
}

.menu{
    display: block;
    list-style: none;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu li{
    margin-left: 40px;
}

.menu li a{
    text-decoration: none;
    color: black;
}
/* navbar end */


/* main start */
.container{
    margin: 0;
    padding: 0;
}

.container .mhead{
    display: grid;
    place-items: end center;
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
}

.mimg{
    width: 200px;
    height: 200px;
}

.mgtxt{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.mtxt{
    margin-top: 20px;
    margin-left: 10px;
}

h5{
    font-weight: bold;
}

.ingrad{
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;
}
.ingrad .gridtxt{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 20px;
    place-items: center;
}

.im2{
    display: flex;
    place-content: center;
}

.gridtxt img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px #373837;
}

/* main end */


/* footter start */
footer{
    background-color: #FDEABD;
    height: 100%;
    display: block;
}

.ftxtimg{
    display: flex;
    align-items: center;
    font-size: 5px;
    padding: 20px;
}
.ftxtimg .fimg img{
    width: 100px;
    height: 100px;
}
.ftxtimg .ftxt{
    padding: 20px;
}
/* footter end */

@media(min-width:768px) {
    /* navbar start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FDEABD;
    font-size: 2rem;
}

.logo img{
    width: 50px;
    height: 50px;
}

.logo a{
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
    margin-left: 40px;
}

.menu li a{
    text-decoration: none;
    color: black;
}
/* navbar end */


/* main start */
.container{
    margin: 15px;
}

.container .mhead{
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
}

.mimg{
    width: 400px;
    height: 400px;
}

.mgtxt{
    margin-top: 20px;
    font-size: 26px;
}

.mtxt{
    margin-top: 20px;
}

.ingrad .gridtxt{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
    place-items: center;
}

.gri1{
    grid-column: 1/4;
}

.gridtxt div{
    /* border: 1px solid #000; */
}

.gridtxt img{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px 0px #373837;
    
}

/* main end */


/* footter start */
footer{
    background-color: #FDEABD;
    height: 100%;
    display: block;
}

.ftxtimg{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 20px;
}
.ftxtimg .fimg img{
    width: 100px;
    height: 100px;
}
.ftxtimg .ftxt{
    padding: 20px;
}
/* footter end */
}