@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF2DE;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FDEABD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

